sudo: false
cache: pip
language: python
# For pypy versions, see https://github.com/pyenv/pyenv/tree/master/plugins/python-build/share/python-build
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - pypy2.7-6.0
  - pypy3.5-6.0

install:
  - pip install --upgrade setuptools
  - pip install -U tox-travis
  - pip install -U coveralls

script:
  - tox
  # Verify the file is at least valid even if it isn't run.
  - tox -c tox-integration.ini -l

after_success:
  - coveralls
